.body {
  width: 100%;
  height: 100vh;

  background: #090821;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../../../public/bg_pc.png');
  background-size: 100% 100%;
}

.defaultWrapper {
  display: flex;
  margin-top: 13.7vh;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: auto;
  height: 33.98vh;
}

.btn {
  width: auto;
  height: 9.25vh;
  border: 0;
  background-color: transparent;
  transform-style: preserve-3d;
  transition: all 75ms cubic-bezier(0, 0, 1, 1);
}
.blueBtn {
  background-image: url('../../../public/btn_var2.png');
  background-size: 100% 100%;
}
.oriangeBtn {
  background-image: url('../../../public/btn_var1.png');
  background-size: 100% 100%;
}

.artWord {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-family: Helvetica;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 0px #000000;
}

.btn:active {
  transform: translate(0, 0.375em);
}

.defaultBtn {
  margin-top: 8vh;
  height: 9.25vh;
  width: 37vh;
}

.wrapper {
  padding: 52px 161px;
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}

.balance {
  display: inline-flex;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background-color: transparent;
}

.button:active {
  transform: translate(0, 0.375em);
}

.playWrapper {
  position: relative;
  display: inline-block;
  width: 80vw;
  height: 153.8vw;
  background-color: transparent;
  background-image: url('../../../public/frame.png');
  background-size: 100% 100%;
}

.background :global .adm-center-popup-wrap {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background :global .adm-center-popup-body {
  background-color: transparent;
}

.playContent {
  margin: 44.1vw 13.2vw 8.5vw 13.2vw;
}

.boardWrapper {
  background-image: url('../../../public/board_bg.png');
  background-size: 100% 100%;
  width: 54.4vw;
  height: 37.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playContent__input {
  margin-top: 4.5vw;
  width: 100%;
  height: 13.3vw;

  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3vw;
  font-weight: 500;
  font-size: 24px;
  color: #ff9903;
}

.background :global .adm-input-element {
  font-size: 24px;
  font-weight: 500;
}

.playContent__btnGroups {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.playContent__btn {
  background-image: url('../../../public/btn_var3.png');
  background-size: 100% 100%;
  width: 16vw;
  height: 8vw;
  color: #fff;
}

.playContent__betBtnGroups {
  margin-top: 8px;
}

.playContent__betBtn {
  width: 56vw;
  height: 13.3vw;
}

.playContent__betBtn p {
  line-height: 24px;
  font-size: 24px;
}

.playContent__betBtn p:last-child {
  font-size: 12px;
  line-height: 14px;
}

.playContent__betBtnGroups .playContent__betBtn:last-child {
  margin-top: 12px;
}

.settingBtnGroups {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingBtn {
  background-size: 100% 100%;
  width: 13.8vw;
  height: 12.8vw;
}

.settingBtn:nth-child(1) {
  background-image: url('../../../public/settingBtn_1.png');
}

.settingBtn:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
  background-image: url('../../../public/settingBtn_2.png');
}

.settingBtn:nth-child(3) {
  background-image: url('../../../public/settingBtn_3.png');
}

.cutDownWrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cutDown__bg {
  background-image: url('../../../public/circle_ray.png');
  background-size: 100% 100%;
  width: 140vh;
  height: 140vh;
  position: absolute;
  z-index: 0;
  animation: cutDownRote 30s linear infinite;
}

@keyframes cutDownRote {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cutDown {
  background-image: url('../../../public/clock.png');
  background-size: 100% 100%;
  width: 219px;
  height: 195px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 36px;
  z-index: 1;
}

.cutDown p {
  margin-left: 7vw;
}

.bingoContent {
  width: 100%;
  height: 99.4vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.bingoTips {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bingoText {
  margin-top: 9px;
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.bingoText span:first-child {
  font-weight: 500;
  font-size: 16px;
}

.bingoText span:last-child {
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 19px;
  width: 34.5vw;
  height: 7.1vw;
}

.settingContent {
  width: 100%;
  height: 99.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingContent h1 {
  font-weight: 900;
  font-size: 32px;
}

.settingContent__account__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__account {
  width: 100%;
  height: 100%;
  margin-top: 7vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingBtn__copy {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../../public/copy.svg');
  background-size: 100% 100%;
}

.settingBtn__qrcode {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../../public/qrcode.png');
  background-size: 100% 100%;
}

.settingContent__balance {
  width: 100%;
  height: 100%;
  margin-top: 7vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingContent__balance__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__logout {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.settingContent__logout__btn {
  width: 56vw;
  height: 13.3vw;
}

.settingContent__logout__btn:first-child {
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  line-height: 100vh;
}
